@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

@layer components {
  .section-header {
    @apply mb-4 text-3xl font-medium capitalize;
  }
  .custom-border {
    @apply border border-black/10;
  }
}

@keyframes blurMove1 {
  0% {
    transform: translateY(0) scale(1);
  }
  100% {
    transform: translateY(-120px) scale(1.18);
  }
}

@keyframes blurMove2 {
  0% {
    transform: translateY(0) scale(1);
  }
  100% {
    transform: translateY(140px) scale(0.92);
  }
}
